@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

:root {
  --container-bg: #f8fafc27;
  --input-main: #f8fafc;
  --input-secondary: #cdd5e0;
  --bg-color: #4036a9;
}

body {
  height: 100%;
  width: 100vw;
  background: url(./assets/svg/bg-image.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin: 15px 0px 0px 10px;
}

header h1 {
  color: #fff;
  text-align: center;
  max-width: 350px;
  margin: 10px auto;
  font-size: 30px;
}

header p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  max-width: 350px;
  margin: 20px auto;
  opacity: 90%;
}

form {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 90vw;
  margin: 0px auto;
  border-radius: 20px;
}

.name-email,
.company-size {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
}

.name-email {
  color: #cdd5e0;
  font-size: 16px;
}

.company-size {
  margin-top: 20px;
}

input,
select {
  width: 40vw;
  padding: 20px;
  margin: 10px;
}
/* input,
select {
  width: 85vw;
  padding: 20px;
} */

textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 20px auto;
  position: relative;
}

.text-label {
  position: relative;
  top: 10px;
  left: 40px;
}

label {
  /* margin: 4px; */
  font-size: 14px;
  color: #fff;
}

input,
select,
textarea {
  border-radius: 20px;
  outline: none;
  border: none;
}

button {
  padding: 10px;
  margin: 15px auto;
  width: 80vw;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #4036a9;
  font-size: 20px;
  font-weight: 700;
}

.btn {
  display: grid;
  place-content: center;
}

/* @media screen and (max-width: 740px) { */
@media screen and (max-width: 1000px) {
  header h1 {
    color: #fff;
    text-align: center;
    max-width: 350px;
    margin: 10px auto;
    font-size: 30px;
  }

  header p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    max-width: 350px;
    margin: 20px auto;
    opacity: 90%;
  }

  
.name-email,
.company-size {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
}

  form {
    width: 90vw;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .name-email,
  .company-size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  input,
  select {
    width: 85vw;
    padding: 20px;
  }
  textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    margin: 20px auto;
  }
  button {
    padding: 10px;
    margin: 15px 15px;
    width: 85vw;
    outline: none;
    border: none;
    border-radius: 15px;
    color: #4036a9;
    font-size: 20px;
    font-weight: 700;
  }
}

@media screen and(min-width:1024px) {
  header h1 {
    color: #fff;
    text-align: center;
    max-width: 750px;
    margin: 10px auto;
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin: 25px 0px 0px 40px;
  }

  form {
    width: 60vw;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  input,
  select {
    width: 25vw;
    padding: 20px;
    margin: 10px;
    font-weight: 700;
    font-size: 18px;
  }
  header h1 {
    color: #fff;
    text-align: center;
    max-width: 750px;
    margin: 25px auto;
    font-size: 64px;
  }
  header p {
    color: #fff;
    font-size: 22px;
    text-align: center;
    max-width: 420px;
    margin: 25px auto;
    opacity: 90%;
  }
  label {
    font-size: 16px;
    color: #f8fafc;
    margin-top: 20px;
  }
  textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53vw;
    margin: 15px auto;
    padding-bottom: 55px;
    font-weight: bold;
    font-size: 17px;
  }

  .text-label {
    position: relative;
    top: 10px;
    left: 5px;
  }

  button {
    padding: 10px;
    margin-bottom: 25px;
    width: 53vw;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #4036a9;
    font-size: 20px;
    font-weight: 700;
  }
}
